<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/k/IdeaProjects/inetBanking">
        <parameter name="browser" value="chrome" />
        <classes>
            <class name="com.inetBanking.testCases.TC_LoginTest_001">
                <methods>
                    <include name="loginTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>